@import 'bootstrap/bootstrap';
@import 'owl-carousel/owl.carousel';
@import 'font-awesome/font-awesome';

@font-face {
    font-family: "poppins";
    src: url("../fonts/poppins/Poppins-Italic.otf");
    font-weight: normal;
    font-style: normal;
}
@mixin text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin owl-nav($direction){
     position: absolute;
     #{$direction}:-25px;
}
header {
    margin-bottom: 2rem;
    background: $gray-100;
    border-bottom: 1px solid $gray-300;
    .browse {
        font-size: 12px;
        font-weight: 600;
    }
    .page-number {
        font-size: 12px;
        font-weight: 500;
    }
    .information {
        padding: 1.7rem 0 .6rem 0;
        font-size: 21px;
        .article {
            @include media-breakpoint-down(md) {
                text-align: center;
            }

            .column {
                display: flex;
                flex-direction: column;
                position: relative;
                font-weight: 800;
                color: $gray-700;
            }
        }
    }
    .box {
        position: relative;
        display: flex;
        flex-direction: row;
        @include media-breakpoint-up(md) {
            padding: 1.5rem 0;
        }
        @include media-breakpoint-down(sm) {
            padding: 1rem;
            justify-content: center;
        }
        .icon {
            padding: 0 .5rem 0 0;
            i {
                color: $white;
                border: 1px solid green;
                border-radius: 30px;
                background: $green;
                width: 40px;
                height: 40px;
                text-align: center;
                padding: .6rem 0;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            p {
                color: $black;
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.2;
                overflow: hidden;
            }
            .info-bottom {
                color: #777;
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.2;
                overflow: hidden;
                @include media-breakpoint-down(sm) {
                    text-align: left;
                }
            }
        }
    }
    .menu {
        background: $gray-700;
        i {
            color: $white;
            font-weight: 100;
        }
        .input-invisible li {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
.description {
    @include media-breakpoint-down(md) {
        text-align: center;
    }
    span:first-of-type {
        color: $gray-900;
        font-weight: 700;
        border-bottom: .1rem solid $gray-900;
    }
    .part {
        margin: 0 .4rem 0 0;
    }
    i {
        color: $gray-600;
        @include media-breakpoint-down(md) {
            padding-top: 1rem;
        }
    }
    i::first-of-type {
        color: $green;
    }
}
.products {
    .accessories {
        padding-top: 1rem;
        .active {
            background: $red-light;
            a {
                color: $white;
            }
        }
        ul {
            list-style: none;
            diplay: flex;
            flex-direction: row;
            li {
                &:not(.active) {
                    background: $gray-200;
                    &:hover {
                        background: $red-light;
                        a {
                            color: $white;
                        }
                    }
                }
                padding: .3rem 1rem;
                &:nth-of-type(3) {
                    a {
                        padding: 0 4.3rem 0 0;
                    }
                }
                &:nth-of-type(2) {
                    a {
                        padding: 0 2.65rem 0 0;
                    }
                }
            }
            a {
                text-decoration: none;
                color: $gray-900;
            }
        }
    }
    .question {
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
    .question span:first-of-type {
        color: $gray-800;
        text-decoration: underline;
        font-size: 20px;
        font-weight: 700;
        padding: 0.8rem 0 1.2rem 0;
        border: none;
    }
    .question ul li {
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        line-height: 32px;
        background: transparent;
        border-left: none;
        border-right: none;
        @include media-breakpoint-down(sm) {
            margin: .5rem 0;
        }
        a {
            color: $gray-700;
            font-size: 0.9rem;
            font-weight: 400;
        }
        i {
            color: $gray-600;
            color: #343a40;
            border: 1px solid $gray-400;
            margin: 1px 7px 1px 0;
            padding: 10px;
            font-size: 9px;
            line-height: 8px;
            border-radius: 2px;
            background: $gray-200;
        }
        ul .card-body {
            border: none;
        }
    }
    .carousel-title {
        color: $gray-600;
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
        @include media-breakpoint-down(sm) {
            padding-left: 1rem;
        }
        .text-1 {
            margin-right: 4px;
            color: $gray-800;
            font-weight: 700;
            border-bottom: 1px solid $gray-800;
        }
    }
    .item {
        background: $gray-200;
        @include media-breakpoint-down(sm) {
            padding-right: 1rem;
        }
    }
    .owl-nav {
        position: absolute;
        top: -3.5rem;
        left: 76%;
        display: flex;
        flex-direction: row;
        i {
            color: $black;
            font-size: 22px;
            font-weight: 900;
        }
        .owl-prev {
            margin-right: 8px;
        }
    }
    .box-shape {
        display: flex;
        flex-direction: row;
        position: relative;
        text-align: left;
        padding-top: 1rem;
        .image {
            border: 1px solid $gray-400;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: .6rem 0 0 .5rem;
            margin: 0 1rem 1.7rem 1rem;
            text-align: center;
            background: $white;
            img {
                padding: 0 .5rem;
            }
        }
        .product {
            .item-name {
                color: $gray-800;
                font-weight: 700;
                font-size: 14px
            }
            .percent-discount {
                display: flex;
                flex-direction: row;
                text-align: left;
                padding: 1rem 0;
                .percent {
                    width: auto;
                    color: $red-light;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.03em;
                    vertical-align: middle;
                    @include media-breakpoint-down(sm) {
                        text-align: center;
                        margin: 0 .1rem 0 12rem;
                        max-width: 100%;
                    }
                }
                .discount {

                    margin: 0;
                    padding: 0 0 0 5px;
                    background: transparent;
                    color: #888;
                    font-size: 16px;
                    font-weight: 400;

                    text-decoration: line-through;
                    vertical-align: middle;
                }
            }
        }
    }
    .box-container {
        top: 18px;
        position: relative;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        @include media-breakpoint-down(xs) {

            padding: 0 25%;
        }
    }
    .box {
        border: 1px solid $gray-400;
        border-radius: 15px;
        margin: 0px 1rem 1.5rem 1rem;
        justify-content: center;
        position: relative;
        padding: 1rem 1rem 0 1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $gray-600;
        &:hover {
            text-decoration: none;
            color: $gray-800;
        }
        img {
            width: 100%;
            transition: .5s;
            &:hover {
                transform: translateY(-1rem);
            }
        }
        .title {
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 1.2;
        }
        .color {
            padding: .5rem 0;
            color: $red-light;
        }

        &:hover {
            border-color: $red-light;
            .query-active {
                display: flex;
                color: $white;
            }
            button {
                background: $red-light;
                color: $white;
            }
        }
        button {
            color: $gray-600;
            border: 1px solid $gray-400;
            border-radius: 25px;
            background: $gray-100;
            cursor: pointer;
            margin-bottom: -12px;
            padding: 0 3rem;
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
    .query {
        position: absolute;
        background: $red-light;
        display: none;
        flex-direction: row;
        justify-content: center;
        color: $gray-400;
        width: 100%;
        padding: .5rem 0;
        border-bottom: 1px solid $gray-400;
    }
    .pagination-box {
        padding: 2rem 0 2rem 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        ul>li a {
            color: $gray-600;
        }
    }
}
.popular-products {
    background: $green;
    .title-box {
        margin: 3.5rem 0 3rem 1rem;
        color: $gray-100;
        .title-1 {
            color: $gray-100;
            font-weight: 600;
            &:before {
                content: '';
                width: 2.3rem;
                height: 1px;
                background: $gray-100;
                display: block;
                margin-bottom: -25px;
            }
        }
    }
    .owl-nav {
        position: absolute;
        top: -4.5rem;
        right: 0;
        display: flex;
        flex-direction: row;
        @include media-breakpoint-down(sm) {
            margin-left: -2rem;
        }
        .owl-prev {
            border: 1px solid red;
            margin-right: 8px;
            i {
                color: $black;
                font-size: 22px;
                font-weight: 900;
            }
        }
        .owl-next {
            border: 1px solid red;
            i {
                color: $black;
                font-size: 22px;
                font-weight: 900;
            }
        }
    }
    $sizes: (small:.2rem 0 .8rem,
    medium:.1rem 0 0);
    @each $name,
    $value in $sizes {
        .padding-#{$name} {
            padding: #{$value} 0;
        }
    }
    .box {
        background: $white;
        width: 68%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 15px;
        border: 1px solid $gray-400;
        padding: 1.5rem .7rem 0 1rem;
        margin: 0px 0 1.5rem 0;
        text-align: center;
        @include media-breakpoint-down(sm) {
            margin: 1.5rem 0;
        }
        @include media-breakpoint-down(lg) {

            background: pink;
        }
        &:hover {
            text-decoration: none;
            color: $gray-800;
        }
        img {
            width: 100%;
            transition: .5s;
            &:hover {
                transform: translateY(-1rem);
            }
        }
        .title {
            font-size: 0.9rem;
            font-weight: 600;
            line-height: 1.2;
            color: $gray-600;
        }
        .price {
            color: $blue;
            font-weight: 600;
        }
        button {
            color: $gray-600;
            border: 1px solid $gray-400;
            border-radius: 25px;
            background: $gray-100;
            cursor: pointer;
            margin-bottom: -12px;
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}
.about-us {
    padding-bottom: 8rem;
    .caption-box {
        padding: 1.8rem 0;
    }
    .caption-1 {
        font-size: 21px;
        font-weight: 700;
        color: $gray-800;
    }
    .caption-2 {
        font-size: 21px;
        color: $gray-800;
    }
    .text-box {
        padding-bottom: 1.8rem;
        p {
            text-align: justify;
            color: $gray-700;
            line-height: 2;
        }
    }
    .cooperation {

        .title-above {
            padding: 1.7rem 0;
            text-align: center;
            .title-cooperation {
                font-size: 21px;
                font-weight: 700;
                color: $gray-800;
            }
            .title-next {
                font-size: 21px;
                font-weight: 400;
                color: $gray-800;
                margin-left: 3px;
            }
        }
        .cooperation-box {
            background: $gray-300;
            border: 1px solid $gray-400;
            border-radius: 15px;
        }
    }
    .owl-nav {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .owl-prev {
           @include owl-nav(left);
            i {
                color: $black;
                font-size: 22px;
                font-weight: 900;
            }
        }
        .owl-next {
             @include owl-nav(right);
            i {
                color: $black;
                font-size: 22px;
                font-weight: 900;
            }
        }
    }
}
footer {
    background: $gray-800;
    padding: 6rem 0 .5rem 0;
    @include media-breakpoint-down(sm) {
        text-align: center;
    }
    .ordering {
        padding: 3rem 0 1.3rem 0;
        a {
            color: $orange;
            font-weight: 600;
        }
        .title-order:before {
            content: '';
            width: 2rem;
            height: 1px;
            background: $orange;
            display: block;
            margin-bottom: -30px;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }
    .order {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 400;
        ul {
            list-style: none;
        }
    }
    .production .ordering {
        .title-order:before {
            background: $yellow;
        }
        a {
            color: $yellow;
        }
    }
    .support .ordering {
        .title-order:before {
            background: $blue;
        }
        a {
            color: $blue;
        }
    }
    .info .ordering {
        .title-order:before {
            background: $red;
        }
        a {
            color: $red;
        }
    }
    .create {
        border-top: 1px solid $gray-600;
        span {
            color: $gray-400;
            font-family: poppins;
            font-size: 12px;
        }
    }
}