<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" data-number="1">
            <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item" data-number="2"><a class="page-link" href="#">2</a></li>
        <li class="page-item" data-number="3"><a class="page-link" href="#">3</a></li>
        <li class="page-item" data-number="4"><a class="page-link" href="#">4</a></li>
        <li class="page-item" data-number="5"><a class="page-link" href="#">5</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        <li class="page-item" data-number="245"><a class="page-link" href="#">245</a></li>
    </ul>
</nav>